@font-face {
  font-family: 'f-regular';
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/SwirlAdmin/swirl-cdn/assets/font-family/futura-medium-bt.ttf');
}

#swirl-live-streams {
  display: block;
  font-family: f-regular;
}

#swirl-live-streams .modal-title {
  color: #323232 !important;
  margin: 0 !important;
}

/* shopify wrapper */
.wrapper {
  width: 100% !important;
  max-width: 100% !important;
}

.page-width {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 30px !important;
}

/* // ends  */

.SL-active-stream-video-container {
  /* border-radius: 10px; */
  overflow: hidden;
  cursor: pointer;
  background-color: #000000;
  width: 100%;
}

.SL-vdo-thmub {
  width: 100% !important;
  display: block !important;
  opacity: .8;
  /* height: 250px !important; */
  /* object-fit: cover; */
  margin: 0 !important;
}

.SL-play-btn {
  position: absolute !important;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background: #00000060;
  border-radius: 50%;
  filter: invert(1);
  margin: 0 !important;
  width: 40px !important;
}

.SL-stream-desc {
  font-size: 15px;
  margin: 10px 0 !important;
  line-height: 18px;
  display: -webkit-box;
  height: 37px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: none !important;
}

.SL-stream-play-action {
  color: #fff;
  border: none;
  background: #6251c4;
  padding: 5px 12px 4px;
  font-size: 15px;
  outline: none;
  display: none !important;
}

.SL-share {
  position: relative;
  text-align: center;
}

.SL-share-images {
  width: 30px;
  margin: 0 !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  display: inline-block !important;
}

.main-page-title {
  display: none;
}

.SL-stream-title {
  /* color: #323232;
  width: calc(100% - 150px);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px auto 20px !important; */

  color: #323232;
  width: calc(100% - 80px);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  height: 52px;
  line-height: 26px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 15px auto 10px !important;
}

.SL-stream-title.ellipsis {
  text-overflow: ellipsis;
}

.SL-share-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #00000040;
  border-radius: 50%;
  width: 30px;
  cursor: pointer;
}

.SL-stream-info-container {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #714bd2;
  width: 100%;
  padding: 8px 12px;
  transform: translateY(100%);
  transition: transform .5s;
  display: none !important;
}

.SL-stream-info {
  width: 100%;
}

.SL-stream-info p {
  margin: 0 !important;
  color: #fff !important;
  font-size: 15px;
  text-align: left;
  margin-bottom: 3px !important;
}

.SL-stream-info label {
  display: block;
  margin: 0 !important;
  color: #fff !important;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  height: 22px;
  line-height: 22px;
  display: none !important;
}

.SL-date-top {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #00000070;
  color: #fff;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 8px 2px;
  border-radius: 5px;
  border: 1px solid #fff;
  display: none !important;
}

.SL-views-top {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #00000070;
  color: #fff;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 8px 2px;
  border-radius: 5px;
  border: 1px solid #fff;
  vertical-align: middle;
  display: none !important;
}

.SL-views-top img {
  display: inline-block;
  height: 18px;
  margin: 0 !important;
  margin-right: 3px !important;
  vertical-align: top;
}

.SL-share p {
  display: none;
  margin-top: 5px !important;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.SL-active-stream-video-container:hover .SL-stream-info-container {
  transform: translateY(0);
}

.SL-active-stream-video-container:hover .SL-vdo-thmub {
  opacity: 1;
}

.SL-title-border {
  border-radius: 3px;
  width: 100px;
  margin: 0 0 20px 0px;
  height: 3px !important;
  background: #714bd2;
  opacity: 1 !important;
}

.SL-vdo-thmub-full {
  width: 100%;
  display: block;
  /* object-fit: cover;
  height: 300px; */
}

.SL-stream-title-full {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px !important;
  padding: 0 20px;
  overflow: hidden;
}

.SL-stream-desc-full {
  font-size: 16px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 30px !important;
}

.SL-schedule-on-date {
  font-size: 16px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 8px !important;
}

.SL-stream-play-action-full {
  background: none;
  border: 2px solid #6251c4;
  padding: 5px 30px !important;
  color: #6251c4;
  font-weight: bold;
  display: block;
  margin: 0 auto !important;
  font-size: 18px !important;
}

.SL-stream-load-more {
  background: none;
  border: 2px solid #6251c4;
  padding: 5px 30px !important;
  color: #6251c4;
  font-weight: bold;
  display: block;
  margin: 25px auto 30px !important;
  font-size: 17px;
}

.SL-full-card {
  background-color: #6251c410;
}

.SL-active-stream-video-content {
  display: block;
  text-align: center;
}

.SL-active-stream-video-content b {
  background: #ddd;
  padding: 20px 25px;
  display: inline-block;
  border-radius: 10px;
  margin-right: 3px;
  font-size: 20px;
  position: relative;
  margin-bottom: 30px;
}

.SL-active-stream-video-content b::after {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #767676;
}

.SL-active-stream-video-content b:nth-child(1)::after {
  content: 'Days';
}

.SL-active-stream-video-content b:nth-child(2)::after {
  content: 'Hours';
}

.SL-active-stream-video-content b:nth-child(3)::after {
  content: 'Minutes';
}

.SL-active-stream-video-content b:nth-child(4)::after {
  content: 'Seconds';
}

.SL-loader {
  display: inline-block;
  margin: 5px 0 0 12px !important;
  border: 2px solid #6251c425;
  border-top: 2px solid #6251c4;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
  float: right;
  display: none;
}

.SL-watch-live-btn {
  position: relative;
  background: #c7c7c7;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 25px !important;
  font-size: 17px;
  margin: 20px auto !important;
  display: block;
  cursor: pointer !important;
  z-index: 1;
}

.SL-watch-live-btn::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.85;
  background-color: #fff !important;
  animation-duration: 1.5s;
  animation-name: pop;
  animation-iteration-count: infinite;
}

@keyframes pop {
  0% {
    transform: scaleX(-0) scaleY(-0);
    opacity: 0.85;
  }

  100% {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.SL-full-card .SL-share-images {
  width: 40px !important;
  margin: 5px !important;
}

.SL-views-and-like {
  text-align: center;
  margin-bottom: 25px !important;
}

.SL-views-and-like div {
  display: inline-block;
  margin: 0 10px !important;
}

.SL-views-and-like img {
  width: 20px !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

.SL-views-and-like label {
  font-size: 17px !important;
  vertical-align: middle !important;
  margin: 0 0 0 5px !important;
  display: inline-block !important;
}

.SL-popup-close-btn {
  position: fixed !important;
  top: 15px !important;
  right: 15px !important;
  z-index: 1211 !important;
  height: 30px !important;
  width: 30px !important;
  cursor: pointer !important;
}

.SL-pip-live {
  width: 250px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.SL-pip-live.SL-pip-live-P {
  width: 180px;
}

.SL-pip-live video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.SL-pip-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  cursor: pointer;
}

.SL-pip-fullscreen-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 15px;
  border: 2px solid #fff;
  cursor: pointer;
}

.SL-popup-close-btn-L {
  padding: 5px !important;
}

@media (min-width: 431px) {
  .SL-popup-close-btn {
    top: 40px !important;
    right: 15px !important;
  }
}

@media (max-width: 430px) {
  .SL-popup-close-btn-L {
    width: 26px !important;
    height: 26px !important;
    top: 17px !important;
    right: 20px !important;
  }
}

@media (max-width: 768px) {
  .SL-active-stream-video-container {
    margin-bottom: 15px;
    float: none;
  }

  .SL-active-stream-video-content {
    margin-bottom: 10px;
    text-align: center;
  }

  .SL-break-title {
    text-align: center !important;
  }

  .SL-title-border {
    margin: 0 auto 20px !important;
  }

  .SL-stream-title-full {
    font-size: 18px;
  }
}