@font-face {
    font-family: myFirstFont;
    src: url(../fonts/circular-std-medium-500.ttf);
    /* src: url(circular-std-medium-500.ttf); */
}

body {
    font-family: myFirstFont;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.SLS-main-conatiner {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    background: #000;
    height: 100vh;
}

.SLS-inner-conatiner {
    height: 100%;
    margin: 0 100px;
    padding: 30px;
    position: relative;
}

video {
    height: 100%;
    width: 100%;
    background-color: #000;
    display: block;
    object-fit: cover;
}

.SLS-show-comments .st0 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}

.SLS-show-comments .st1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.SLS-ask .st1 {
    fill: #fff;
}

.flag {
    color: #fff;
    position: absolute;
    top: 40px;
    left: 80px;
    font-size: 14px;
    display: table;
}

.flag #livestatus {
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
}

.flag .liveflag {
    background: #FF0101;
}
.flag .recordingflag {
    background: #0000009c;
}
.flag #viewcount {
    background: #000;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 0px 5px 5px 0px;
}

#viewcount .fa {
    padding-right: 5px;
}

.top-right-action {
    color: #fff;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 13px;
    display: table;
    user-select: none;
}

.top-right-action svg,
.action-bar svg {
    cursor: pointer;
}

.top-right-action svg:focus,
.action-bar svg:focus {
    outline: unset;
}

.action-bar {
    position: absolute;
    bottom: 40px;
    right: 40px;
    user-select: none;
}

div.SWIRLhearts {
    width: 100px;
    height: 200px;
    position: absolute;
    bottom: 20px;
    right: 0;
    border: none;

}

div.SWIRLheart {
    width: 30px;
    height: 30px;
    opacity: 1;
    position: absolute;
    bottom: 0;
    display: none;
    border: none;

}

div.SWIRLheart span {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    border: none;

}

div.SWIRLheart span::after {
    content: '\2764';
    display: block;
    border: none;
}

.colOne {
    color: #fce473;
}

.colTwo {
    color: #f68b39;
}

.colThree {
    color: #f2003c;
}

.colFour {
    color: #847bb9;
}

.colFive {
    color: #97cd76;
}

.colSix {
    color: #35b1d1;
}

.colOne,
.colTwo,
.colThree,
.colFour,
.colFive,
.colSix {
    color: #f2003c;
}

#Layer_1 {
    display: none;
}

.SSV-heart-flaws-btn img {
    width: 22px;
    display: inline-block;
}

.SSV-heart-flaws-btn span::after {
    content: '\2665';
    display: block;
    color: #fff;
    line-height: 33px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    left: 0;
    border: none;
    z-index: 999999;
    position: absolute;
    bottom: 0;
}

.SSV-heart-flaws-btn span.active::after {
    content: '\2661';
    color: #f2003c;
    z-index: 999999;

}
.banner-tab-hide{
    display: none !important;
}

/* animation */
@keyframes pop {
    0% {
        transform: scaleX(-0) scaleY(-0);
        opacity: 0.85;
    }

    100% {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}



@keyframes flowOne {
    0% {
        opacity: 0;
        bottom: 0;
        right: 14%;
        z-index: 999999;
        border: none;

    }

    40% {
        opacity: .8;
        z-index: 999999;
        border: none;

    }

    50% {
        opacity: 1;
        right: 0;
        z-index: 999999;
        border: none;

    }

    60% {
        opacity: .2;
        z-index: 999999;
        border: none;

    }

    80% {
        bottom: 80%;
        z-index: 999999;
        border: none;

    }

    100% {
        opacity: 0;
        bottom: 100%;
        right: 18%;
        z-index: 999999;
        border: none;

    }
}

@keyframes flowTwo {
    0% {
        opacity: 0;
        bottom: 0;
        right: 0;
        z-index: 999999;
        border: none;

    }

    40% {
        opacity: .8;
        z-index: 999999;
        border: none;

    }

    50% {
        opacity: 1;
        right: 11%;
        z-index: 999999;
        border: none;

    }

    60% {
        opacity: .2;
        z-index: 999999;
        border: none;

    }

    80% {
        bottom: 60%;
        z-index: 999999;
        border: none;

    }

    100% {
        opacity: 0;
        bottom: 80%;
        right: 0;
        z-index: 999999;
        border: none;

    }
}

@keyframes flowThree {
    0% {
        opacity: 0;
        bottom: 0;
        right: 0;
        z-index: 999999;
        border: none;

    }

    40% {
        opacity: .8;
        z-index: 999999;
        border: none;

    }

    50% {
        opacity: 1;
        right: 30%;
        z-index: 999999;
        border: none;

    }

    60% {
        opacity: .2;
        z-index: 999999;
        border: none;

    }

    80% {
        bottom: 70%;
        z-index: 999999;
        border: none;

    }

    100% {
        opacity: 0;
        bottom: 90%;
        right: 0;
        z-index: 999999;
        border: none;

    }
}

.video-box {
    position: relative;
    overflow: hidden;
    height: 100%;
}


.video-box video {
    width: 100%;
    height: 100%;
}

/* .video-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 80%) 100%);
}

.video-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, rgb(0 0 0) 0%, rgb(255 255 255 / 0%) 100%);
}
 */
.SLS-comments-panel {
    color: #fff;
    position: absolute;
    bottom: 100px;
    right: 40px;
    width: 30%;
    display: none;
    transform: translateY(100%);
    transition: transform .5s;
}

.pin-main-div {
    margin-bottom: 10px;
    width: 100%;
    background: #000;
    border-radius: 10px;
    padding: 10px;
}

.pin-user-pic {
    display: table-cell;
    padding-top: 5px;
}

.pin-user-pic img {
    width: 30px;
    border-radius: 50%;
}

.pin-msg-content {
    width: 100%;
    display: table-cell;
    vertical-align: top;
}

.pin-msg-content p:first-child {
    /* font-weight: 700; */
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 14px;
    width: 100%;
}
#tabs .only{
    border-radius: 5px;
} 
.messages-pin p {
    color: #fff;
    padding: 2px 8px;
    font-size: 14px;
    display: inline-block;
    margin: auto;
    word-break: break-word;
}

.pin-main-icon {
    display: table-cell;
    color: #fff;
    vertical-align: unset;
}

.pin-main-icon span {
    font-size: 20px;
}

.icon-pushpin {
    padding: 0 10px 0 3px;
}

.icon-pushpin:before {
    transform: rotate(45deg);
}

.SLS-comments-all p {
    margin-bottom: auto;
    width: 100%;
    font-size: 14px;
    padding: 0 10px;
    word-break: break-word;
}

.SLS-comments-all p .time {
    float: right;
    /* font-weight: 600; */
    color: #b9b9b9;
    font-size: 12px;
}

.SLS-comments-all .fillcolor {
    background: #dcdcdc;
    color: #000;
}

.SLS-comments-all .user-comments {
    background: #17171C80;
}

.SLS-comments-all .msgcontent-div {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    margin-bottom: 2px;
}

.msgcontent-div .icon {
    display: table-cell;
   /*  padding-top: 5px; */
}

.msgcontent-div .icon i {
    font-size: 30px;
}

.msgcontent-div .icon img {
    width: 30px;
    border-radius: 50%;
}

.msgcontent-div .msg-content {
    width: 100%;
    display: table-cell;
    vertical-align: top;
}

.msgcontent-div .msg-content p:first-child {
    /*     font-weight: bold; */
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 14px;
}

#Search {
    width: 100%;
    position: relative;
    display: inline-block;
}

#Search input[type=text] {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px 40px 10px 10px;
    color: #000;
    width: 100%;
    outline: none;
}

#Search button {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border: none;
    background: 0 0;
    display: block;
    padding-right: 10px;
    border-radius: 0 30px 30px 0;
}

#Search button i {
    font-size: 18px;
    vertical-align: inherit;
    color: #000;
}

.menu-icon {
    color: #fff;
    position: absolute;
    top: 42px;
    left: 50px;
    font-size: 20px;
    cursor: pointer;
}

.all-tabs {
    color: #fff;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 22%;
    display: none;
    /* transform: translateX(-100%);
    transition: transform .5s; */
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    background: #FFFFFFCC;
    color: #17171C80;
    text-decoration: unset;
    font-size: 16px;
    border-radius: 5px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #17171C;
}

.all-tabs .nav-pills li:first-child a {
    border-radius: 5px 0px 0px 5px;
}

.all-tabs .nav-pills li:nth-child(2) a {
    border-radius: 0px 5px 5px 0px;
}

.SLS-product-tile {
    background: #FFFFFFCC;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 12px;
    color: #000;
    /* border-bottom: 1px solid rgb(199, 199, 199); */
}

.SLS-product-image img {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
    background: #fff;
}

.SLS-product-content {
    padding-left: 15px;
    width: calc(100% - 90px);
}

.SLS-product-content p {
    font-size: 15px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.SLS-product-content label {
    font-size: 18px;
    font-weight: 700;
}

.SLS-product-content del {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    color: #000000B2;
}

.SLS-product-buynow-btn {
    background: #17171C;
    border-color: #17171C;
    color: #fff;
    padding: 5px 15px;
    line-height: normal;
    border-radius: 5px;
    border: none;
    outline: 0;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.offer-style p {
    background: #FFFFFFCC;
    border-radius: 10px;
    color: #000;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.share-btn .social-icon {
    display: inline-grid;
}

.social-icon .fa {
    color: #fff;
    cursor: pointer;
    padding: 0;
    font-size: 30px !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 15px;
    text-align: center;
}

.fa-facebook {
    background: #3b5998;
}

/* .fa-facebook-f:before, .fa-facebook:before,.fa-linkedin:before,.fa-twitter:before,.fa-whatsapp:before{
    vertical-align: sub;
} */
.fa-linkedin {
    background: #007bb5;
}

.fa-twitter {
    background: #55acee;
}

.fa-whatsapp {
    background: green;
}

.copytext-block {
    width: 100%;
}

#copy-text {
    width: calc(100% - 115px);
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px !important;
    height: auto;
    border: 1px solid #E7E7E7;
}

.btn-copy {
    vertical-align: top;
    background: #17171C;
    border: 1px solid #17171C !important;
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    outline: 0;
    float: right;
    border-radius: 5px;
}

.btn-copy:hover,
.btn-ask-send:hover {
    color: #fff;
}

#share-popup .modal-body,
#askque-popup .modal-body,
#demo-modal-1 .modal-body {
    padding: 20px;
}

#share-popup .modal-header,
#askque-popup .modal-header,
#demo-modal-1 .modal-header {
    display: block;
    text-align: center;
    border: unset;
    padding-bottom: 5px;
}

#share-popup .modal-header .modal-title,
#share-popup .modal-header .close,
#askque-popup .modal-header .modal-title,
#askque-popup .modal-header .close,
#demo-modal-1 .modal-header .modal-title,
#demo-modal-1 .modal-header .close {
    display: inline-block;
    text-align: center;
}

#inquiry_text_ask {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 10px;
}

.btn-ask-send {
    background: #17171C;
    border: 1px solid #17171C !important;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    outline: 0;
    border-radius: 5px;
}

#demo-modal-1 #name {
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px !important;
    height: auto;
    border: 1px solid #E7E7E7;
}

#demo-modal-1 #mobile {
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    height: auto;
    border: 1px solid #E7E7E7;
}

#demo-modal-1 .modal-footer {
    border: unset;
    display: block;
    text-align: center;
    padding-top: 0px;
}

#demo-modal-1 .btn-pro {
    background: #17171C;
    border: 1px solid #17171C;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    outline: 0;
    border-radius: 5px;
}

.mobile-tab {
    display: none !important;
}


ul.tabs {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    border-radius: 5px;
    border-radius: 0px;
    margin-bottom: 15px;
}

ul.tabs li:nth-child(2) {
    border-radius: 5px 0px 0px 5px;
}

ul.tabs li:nth-child(4) {
    border-radius: 0px 5px 5px 0px;
}

ul.tabs li {
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    background: #FFFFFFCC;
    color: #17171C80;
    text-decoration: unset;
    font-size: 16px;
}

ul.tabs li.current {
    color: #fff;
    background-color: #17171C;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

.SLS-panel-scroll {
    height: calc(100% - 365px);
    overflow-y: auto;
    padding-right: 5px;
}

#product_count {
    top: -15px;
    position: absolute;
    right: 12%;
    width: 20px;
    height: 20px;
    color: #000;
    line-height: 20px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background: #EE7;
}

.starproduct {
    background: #000;
    padding: 10px;
    color: #fff;
}

.star-animation {
    width: 25px;
    height: auto;
    margin-right: 5px;
}

.starproduct .SLS-product-buynow-btn {
    border: 1px solid #fff;
}

.starproduct .SLS-product-content del {
    color: #fff;
}

.SLS-comments-all {
    height: 250px;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 10px;
}

.fullscreen-exit {
    display: none !important;
}
.starproduct .SLS-product-content{
    width: calc(100% - 120px);
}

#black-screen .screen-content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.screen-content img {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}
.screen-content #strem_p {
    font-size: 25px;
    margin-bottom: 5px;
}
.screen-content hr {
    width: 10%;
    margin: 6px auto;
    border: 1px solid #000000
}
.screen-content span {
    padding: 5px 10px;
    font-size: 40px;
    font-weight: 700;
}
.screen-content .date_stream {
    font-size: 17px;
}
.rsvp-button {
    background: #000;
    border: none;
    height: 40px;
    cursor: pointer;
    color: #fff;
}
.without-after-element::after{
    content: none !important;
}
.without-after-element::before{
    content: none !important;
}
.rsvp-button:hover{
    color:#fff;
}
#defaultBar {
    position: absolute;
    bottom: 51px;
    width: 100%;
    background: #fff;
    height: 2px;
    height: 5px;
    cursor: pointer;
    z-index: 2;
}
#progressBar {
    background: #000;
    height: 5px;
    width: 0;
}
#play-pause-icon, #play-pause-icon-mobile {
    color: #fff;
    font-size: 20px;
}
.SLS-video-control{
    display: block;
    position: absolute;
    bottom: 35px;
    width: 100%;
    left: 20px;
    z-index: 3;
}
div#remote-media video {
    height: 100%;
    width: 100%;
    background-color: #000;
    display: block;
    object-fit: cover;
}
.livestreambro-dimensions {
    width: 100%;
    height: 100vh;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .SLS-inner-conatiner {
        margin: 0;
        padding: 0;
    }

    .menu-icon {
        top: 12px;
        left: 30px;
    }

    .flag {
        top: 10px;
        left: 50px;
        font-size: 12px;
    }

    .top-right-action {
        top: 10px;
        right: 20px;
    }

    .action-bar {
        bottom: 10px;
        right: 20px;
    }

    .all-tabs {
        width: 30%;
        top: 50px;
        left: 30px;
    }

    .SLS-product-content {
        width: calc(100% - 80px);
    }
    .starproduct .SLS-product-content{
        width: calc(100% - 80px);
    }

    .star-animation {
        width: 15px;
    }

    .SLS-panel-scroll {
        height: calc(100% - 100px);
    }

    .SLS-product-image img {
        width: 70px;
        height: 70px;
    }

    .SLS-product-content p,
    .SLS-product-content label,
    .SLS-product-content del,
    .SLS-product-buynow-btn,
    .offer-style p,
    .pin-msg-content p:first-child,
    .messages-pin p,
    .msgcontent-div .msg-content p:first-child,
    .SLS-comments-all p,
    #Search input[type=text],
    ul.tabs li {
        font-size: 12px;
    }

    .pin-main-icon span,
    #inquiry_text_ask {
        font-size: 15px;
    }

    .SLS-comments-all {
        height: 110px !important;
    }

    .SLS-comments-panel {
        width: 32%;
        bottom: 55px;
        right: 20px;
    }

    .pin-main-div {
        margin-bottom: 5px;
    }

    .fullscreen-exit {
        display: inline !important;
    }

    .pin-user-pic img {
        width: 20px;
    }

    div.SWIRLhearts {
        right: 50px;
    }

    .btn-ask-send,
    .btn-copy,
    #copy-text,
    .social-icon label,
    #demo-modal-1 #name,
    #demo-modal-1 #mobile,
    #demo-modal-1 .btn-pro,
    .iti--separate-dial-code .iti__selected-dial-code {
        font-size: 12px;
    }

    #askque-popup .modal-header .modal-title,
    #share-popup .modal-header .modal-title,
    #demo-modal-1 .modal-header .modal-title {
        font-size: 15px;
    }

    .SLS-comments-all .fillcolor {
        background: #F1F1F1B2;
    }
    #share-popup .modal-dialog ,#askque-popup .modal-dialog{
        max-width: fit-content;
    }
    #askque-popup .modal-dialog{
        width: 40%;
    }
    .screen-content img
    {
        width: 50px;
        height: 50px;
    }
    .screen-content #strem_p{
        font-size: 18px; 
    }
    .screen-content span{
        font-size: 20px;
    }
    #defaultBar{
        width: 100%;
        display: none !important;
    }
    #Search{
        display: none;
    }
}

@media (max-width: 430px) {
    .social-icon .fa {
        width: 40px;
        height: 40px;
        font-size: 20px !important;
        line-height: 40px;
    }

    .mobile-tab {
        display: block !important;
    }

    .menu-icon,
    .action-bar {
        display: none !important;
    }

    .flag {
        top: 20px;
        left: 20px;
        font-size: 12px;
    }

    .top-right-action {
        top: 20px;
        right: 20px;
        font-size: 12px;
    }

    .top-right-action svg {
        width: 24px;
        height: 24px;
    }

    .SLS-inner-conatiner {
        margin: 0;
        padding: 0px;
    }

    .video-box video,
    .video-box {
        height: auto;
    }

    .video-box::before,
    .video-box::after {
        content: unset;
    }

    .SLS-comments-panel {
        position: unset;
    }

    .data-box {
        background-color: #fff;
        padding: 10px;
    }

    .data-box .nav-pills {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        border-bottom: 1px solid #17171C33;
    }

    .data-box .nav-pills::-webkit-scrollbar {
        display: none;
    }

    .data-box .nav-pills li {
        white-space: nowrap;
    }

    .data-box .nav>li>a {
        padding: 5px 20px;
        border-radius: 5px !important;
    }

    .data-box .tab-content {
        padding-top: 10px;
    }

    .SLS-comments-panel {
        display: block;
        transform: unset;
        width: 100%;
    }

    #Search input[type=text] {
        background: #17171C0D;
    }

    .all-tabs {
        display: block;
        width: 100%;
        transform: unset;
        position: relative;
        top: unset;
        left: unset;
    }

    ul.tabs::-webkit-scrollbar {
        display: none;
    }

    ul.tabs {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        border-bottom: 1px solid #17171C33;
        margin-bottom: 0px;
    }

    ul.tabs li {
        white-space: nowrap;
        padding: 5px 20px;
        border-radius: 5px !important;
    }

    .SLS-product-tile {
        background: #17171C0D;
        border: unset;
    }

    .starproduct {
        background: #000;
        padding: 10px;
        color: #fff;
    }

    #tab-3 .copytext-block {
        text-align: right !important;
    }

    .offer-style p {
        background: #17171C0D;
    }

    .mobile-video-icon {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }

    /* .SLS-comments-panel{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    } */
    .messages-pin {
        /*  order: 1; */
        width: 100%;
        /* margin-top: 10px; */
    }

    .SLS-comments-all {
       /*  order: 2; */
        height: calc(100% - 100px);
       /*  height: calc(100% - 25%); */
        overflow-y: scroll;
        padding-right: 10px;
    }

    #Search {
        order: 3; 
    }

    .SLS-comments-all .msgcontent-div {
        width: 100%;
    }

    div.SWIRLhearts {
        bottom: 40px;
        right: 50px;
    }

    .SLS-panel-scroll {
        height: calc(100% - 60px);
        overflow-y: auto;
        padding-right: 10px;
    }
    #black-screen{
        position: relative;
        height: 300px;
    }
    .screen-content img
    {
        width: 50px;
        height: 50px;
    }
    .screen-content #strem_p{
        font-size: 18px; 
    }
    .screen-content span{
        font-size: 20px;
    }
    .livestreambro-dimensions{
        height: 268px;
    }
    .SLS-comments-all .user-comments{
        background: #F1F1F1B2;
        color: #000;
    }
    .SLS-comments-all p .time{
        color: #000;
    }
    .SLS-comments-all .fillcolor{
        background: #17171C33;
    }
    .err_ask_mobile{
        text-align: center;
        color: red;
        margin: 0px;
    }
}