/* filter css */
#swirl-short-videos .filter_main_div {
    padding: 20px 0;
    font-family: Muli, sans-serif !important;
}

#swirl-short-videos .filter_main_div .first_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#swirl-short-videos .filter_main_div .first_row .left_section_first_row {
    text-align: left;
    display: flex;
    align-items: center;
}

#swirl-short-videos .filter_main_div .first_row .right_section_first_row {
    text-align: right;
    display: flex;
    align-items: center;
}

#swirl-short-videos .filter_main_div .video_count h2 {
    margin-left: 15px;
    font-weight: bolder;
    font-size: 24px;
}

#swirl-short-videos .sort_by_filter {
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
}

#swirl-short-videos .filter_main_div .location_sm {
    padding: 10px;
    border-radius: 10px;
}

#swirl-short-videos .filter_main_div .second_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

#swirl-short-videos .second_row .search-container {
    flex-grow: 1;
}

#swirl-short-videos .mobile-view-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    flex-grow: 2;
}

.filter_main_div .second_row .mobile-view-container .multi-select-container,
.filter_main_div .second_row .mobile-view-container .multi-select-container2,
.filter_main_div .second_row .mobile-view-container .multi-select-container3 {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.filter_main_div .second_row .mobile-view-container .custom-search-container {
    width: 100% !important;
    justify-content: end;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

#swirl-short-videos .checkbox-button {
    display: inline-block;
    font-weight: normal;
    padding: 5px 10px;
    color: #000;
    border: 2px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#swirl-short-videos .checkbox-button input {
    display: none;
}

#swirl-short-videos .checkbox-button input:checked+label {
    background-color: #3498db;
    border-color: #000;
    color: #fff;
}

#swirl-short-videos .checkbox_with_btn {
    display: none;
}

#swirl-short-videos .search-icon {
    position: absolute;
    left: 10px;
    margin-left: 7px;
    top: 55%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
    line-height: 14px;
}

#swirl-short-videos .mobile-view-container .custom-search-container .custom-search-icon {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translateY(-50%);
    line-height: 14px;
}

#swirl-short-videos .mobile-view-container .custom-search-container .clear-search-icon {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    line-height: 14px;
    display: none;
    cursor: pointer;
}

#swirl-short-videos .second_row .custom-search-container .custom-search-input {
    padding: 8px 8px 8px 50px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px;
    width: 37%;
    border: 2px solid #aaa;
    box-sizing: border-box;
    font-weight: normal;
}



#swirl-short-videos .search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #aaa;
    outline: none;
    color: #000 !important;
    font-weight: normal;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='currentColor'%3E%3Cpath d='M12 15.4l-6.3-6.3-1.4 1.4L12 17.2l7.7-7.7-1.4-1.4z'/%3E%3C/svg%3E") no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    line-height: 14px;
}

#swirl-short-videos .custom-select {
    position: relative;
    width: 200px;
}

#swirl-short-videos .custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    padding-left: 40px;
    margin-left: 15px;
}

#swirl-short-videos .custom-select i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    color: #555;
    margin-left: 18px;
    margin-top: 3px;
}

#swirl-short-videos .clear-filter-btn {
    text-decoration: none;
    color: #000;
}

#swirl-short-videos .search-clear-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hide the up and down arrows for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.selectSizeAndColorWrapper {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.sizeGenderFitWrapper {
    padding: 10px 15px;
    /* border-bottom: 1px solid #eee; */
}

.sizeGenderFitWrapper .shoe-gender-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.sizeGenderFitWrapper .shoe-gender-wrapper .shoe-gender-wrapper-row1,
.sizeGenderFitWrapper .shoe-gender-wrapper .shoe-gender-wrapper-row2 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.sizeGenderFitWrapper .shoe-gender-wrapper label {
    font-size: 12px;
}

.sizeGenderFitWrapper .shoe-gender-wrapper .shoe-gender-wrapper-row1 .shoe-size-input {
    border: 1px solid #969696;
    border-radius: 10px;
    padding: 8px;
    outline: none;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
}

.sizeGenderFitWrapper .shoe-gender-wrapper .shoe-gender-wrapper-row2 .ssv_find_fit {
    color: #fff;
    text-align: center;
    padding: 10px !important;
    width: 50% !important;
    border-radius: 10px !important;
    font-size: 12px !important;
    background-color: #000 !important;
    transition: background-color 0.3s !important;
}

.shoe-gender-wrapper-row2 .shoe-size-wrapper {
    flex-grow: 1;
    text-align: center;
}

.shoe-gender-wrapper .ssv_find_fit:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: background-color 0.3s !important;
    /* Add a transition for smoother effect */
}

.shoe-size-wrapper p {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

input::placeholder {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Muli, sans-serif !important;
}

.shoe-gender-wrapper .gender-wrapper select,
.selectSizeAndColorWrapper select,
.selectSizeAndColorWrapper .color-wrapper select {
    border: 1px solid #969696;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    outline: none;
    color: #000000;
    font-weight: normal;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='currentColor'%3E%3Cpath d='M12 15.4l-6.3-6.3-1.4 1.4L12 17.2l7.7-7.7-1.4-1.4z'/%3E%3C/svg%3E") no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 12px;
    line-height: 12px;
    font-family: Muli, sans-serif !important;
    background-color: #ffffff;
}

.shoe-size-input-wrapper {
    width: 60%
}

.gender-wrapper {
    width: 40%;
}

.color-wrapper {
    width: 50%;
}

.ontile-selectSize-ssv {
    border: 2px solid #323232 !important;
    background: none !important;
    border-radius: 4px !important;
    padding: 1px 4px !important;
    font-size: 12px !important;
    width: calc(50% - 3px);
    height: 26px !important;
    line-height: 20px !important;
    outline: 0;
    color: #000000 !important;
    vertical-align: top;
    margin: 0 !important;
    margin-right: 6px !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

@media (max-width: 768px) {

    #swirl-short-videos .filter_main_div {
        padding: 10px 0;
    }

    #swirl-short-videos .filter_main_div .first_row {
        flex-direction: column;
        align-items: flex-start;
    }

    #swirl-short-videos .filter_main_div .video_count h2 {
        margin-left: 10px;
        font-size: 16px;
    }

    #swirl-short-videos .second_row .custom-search-container .custom-search-input {
        min-width: 200px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #swirl-short-videos .mobile-view-container .custom-search-container .custom-search-icon {
        left: 10%;
    }

    #swirl-short-videos .filter_main_div .second_row {
        flex-direction: column;
        align-items: normal;
        justify-content: space-between;
    }

    #swirl-short-videos .filter_main_div .second_row .search-container {
        width: 100%;
    }

    #swirl-short-videos .filter_main_div .second_row .mobile-view-container {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        align-items: center;
        gap: 10px;
    }

    #swirl-short-videos .filter_main_div .second_row .mobile-view-container .custom-search-container {
        display: none;
    }

    #swirl-short-videos .filter_main_div .second_row .mobile-view-container::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    #swirl-short-videos .filter_main_div .first_row>div,
    #swirl-short-videos .filter_main_div .second_row>div {
        padding: 10px 0;
    }

    .filter_main_div .second_row .mobile-view-container .multi-select-container,
    .filter_main_div .second_row .mobile-view-container .multi-select-container2,
    .filter_main_div .second_row .mobile-view-container .multi-select-container3 {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #swirl-short-videos .checkbox-button {
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

    #swirl-short-videos .search-input {
        margin-left: 0px;
    }

    #swirl-short-videos .filter_main_div .right_section_first_row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #swirl-short-videos .filter_main_div .second_row .left_section_second_row .sortby_text,
    #swirl-short-videos .filter_main_div .second_row .center_section_second_row .sortby_text,
    #swirl-short-videos .filter_main_div .second_row .right_section_second_row .sortby_text {
        font-size: 14px !important;
    }

    .shoe-gender-wrapper .gender-wrapper select,
    .selectSizeAndColorWrapper select,
    .selectSizeAndColorWrapper .color-wrapper select,
    .sizeGenderFitWrapper .shoe-gender-wrapper .shoe-gender-wrapper-row1 .shoe-size-input {
        font-size: 16px;
        line-height: 16px;
    }
}

/* filter css */